.image-control{
  width: 100%;
  height: 100%;
  margin-bottom: 1px;
}
.example-button-container {
  position: absolute;
  margin: 50px 0 0 0;
  right: 0;
  bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.scroll-to-top{
  background-color: #38003c;
  box-shadow: 0 3px 1rem rgba(255, 255, 255, 0.7);
}


.footer{
  border: 1px solid #38003c;
  height: 300px;
  margin: 0 auto;
  padding: 0;
  width: auto;
  display: grid;
  background-color:  #38003c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

}
.them{
  color: #38003c;
}
.icon-title{
  margin-top: 30px;
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: Radikal, serif;

}
.wrapper{
  margin-top: 30px;
  font-family: Radikal, serif;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.wrapper .button{

  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  color: #38003c;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #dd4b39;

}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #dd4b39;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
.footer-details{
  background-color: #ffffff;
  height: 100px;
  margin: 220px 0 0 0;
  padding: 0;
  position: relative;
  justify-content: center;
  width: 100%;
  bottom: 100px;
  text-align: center;
  display: grid;
  grid-template-columns: 10cm 10cm;
}
.footer-copyright{
  font-family: Radikal, serif;
  margin: 25px 0 0 0;
  padding: 0;
  text-align: center;
}
.vertical-line{
  height: 70px;
  right:50%;
  margin-top: 15px;
  position: absolute;
  border: 0.5px solid #1e0021;
  background-color: #1e0021;

}
.footer-icon{
  margin: 20px 0 0 0;
  font-family: Radikal, serif;
  font-size: 30px;
  color: #440a4e;
}
.logo{
  height: 60px;

}
