<body>
  <img class="image-control" src="assets/images/home%20background.jpg">
</body>
<footer class="footer" >

  <div class="icon-title">Follow Us</div>
  <div class="wrapper">
    <div class="button">
      <div class="icon">
        <a class="them" href="https://www.facebook.com/premierleague/">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
      <span>Facebook</span>
    </div>
    <div class="button">
      <div class="icon">
        <a class="them" href="https://twitter.com/premierleague?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <span>Twitter</span>
    </div>


    <div  class="button">
      <div class="icon">
        <a class="them" href="https://www.instagram.com/premierleague/">
          <i  class="fab fa-instagram"></i>
        </a>
      </div>
      <span>Instagram</span>
    </div>


    <div class="button">
      <div class="icon">
        <a class="them" href="https://www.premierleague.com/communities">
          <i class="fab fa-google"></i>
        </a>
      </div>
      <span>Google</span>
    </div>


    <div class="button">
      <div class="icon">
        <a class="them" href="https://www.youtube.com/channel/UCG5qGWdu8nIRZqJ_GgDwQ-w">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <span>YouTube</span>
    </div>
  </div>

  <div class="footer-details">
    <div class="footer-copyright">
      Copyright © By Lahiru Lakshan<br>
      2020 by Premier League
    </div>
    <div class="vertical-line"></div>
    <div class="footer-icon">Premier <span class="logo"><img  class="logo" src="./assets/images/premier-league-icon.png"></span> League</div>
  </div>
</footer>
