<body>
<div class="headerLine">
  <h1>Ranking Table</h1>
</div>
<div class="searchSort">
  <div class="textBox">
    <mat-form-field class="example-form-field">
      <mat-label>Club Search</mat-label>
      <label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Enter club name" #input (focus)="dateFilter('nameOfTheClub')" [(ngModel)]="searchValue">
      </label>
      <button type="button" mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="sortBtn">
    <a class="create-btn"  (click)="sortByPoints()" mat-stroked-button>Sort By Points</a>
    <a class="create-btn"  (click)="sortByGoals()" mat-stroked-button>Sort By Goals</a>
    <a class="create-btn"  (click)="sortByWins()" mat-stroked-button>Sort By Wins</a>
  </div>
</div>
<div class="table-size example-container mat-elevation-z8">
<table mat-table [dataSource]="clubsData" class="mat-elevation-z8 table-hover">

  <ng-container matColumnDef="position">
    <th mat-header-cell class="table-elements-center" *matHeaderCellDef> Position </th>
    <td mat-cell class="table-elements-center" *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="nameOfTheClub">
    <th mat-header-cell *matHeaderCellDef> Club </th>
    <td mat-cell *matCellDef="let element"> {{element.nameOfTheClub}} </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <ng-container matColumnDef="stadium">
    <th mat-header-cell *matHeaderCellDef> Stadium </th>
    <td mat-cell *matCellDef="let element"> {{element.stadium}} </td>
  </ng-container>

  <ng-container matColumnDef="matchDate">
    <th mat-header-cell class="table-elements-center" *matHeaderCellDef> Last Play </th>
    <td mat-cell class="table-elements-center" *matCellDef="let element"> {{element.matchDate}} </td>
  </ng-container>

  <ng-container matColumnDef="won">
    <th mat-header-cell class="table-elements-center" *matHeaderCellDef> Wins </th>
    <td mat-cell class="table-elements-center" *matCellDef="let element"> {{element.won}} </td>
  </ng-container>

  <ng-container matColumnDef="drawn">
    <th mat-header-cell class="table-elements-center" *matHeaderCellDef> Drawn </th>
    <td mat-cell class="table-elements-center" *matCellDef="let element"> {{element.drawn}} </td>
  </ng-container>

  <ng-container matColumnDef="lost">
    <th mat-header-cell class="table-elements-center" *matHeaderCellDef> Lost </th>
    <td mat-cell class="table-elements-center" *matCellDef="let element"> {{element.lost}} </td>
  </ng-container>

  <ng-container matColumnDef="numOfGoalsScored">
    <th mat-header-cell class="table-elements-center" *matHeaderCellDef> Goals For </th>
    <td mat-cell class="table-elements-center"  *matCellDef="let element"> {{element.numOfGoalsScored}} </td>
  </ng-container>

  <ng-container matColumnDef="numOfGoalsReceived">
    <th mat-header-cell class="table-elements-center"  *matHeaderCellDef style="width: 150px"> Goals Against </th>
    <td mat-cell class="table-elements-center" *matCellDef="let element"> {{element.numOfGoalsReceived}} </td>
  </ng-container>

  <ng-container matColumnDef="numOfGoalsDifference">
    <th mat-header-cell class="table-elements-center" *matHeaderCellDef style="width: 200px"> Goal Difference </th>
    <td mat-cell class="table-elements-center" *matCellDef="let element"> {{element.numOfGoalsDifference}} </td>
  </ng-container>

  <ng-container matColumnDef="numOfPoints">
    <th mat-header-cell class="table-elements-center" *matHeaderCellDef> Points </th>
    <td mat-cell class="table-elements-center" *matCellDef="let element"> {{element.numOfPoints}} </td>
  </ng-container>

  <ng-container matColumnDef="numOfPlayedMatches">
    <th mat-header-cell class="table-elements-center" *matHeaderCellDef> Played </th>
    <td mat-cell class="table-elements-center" *matCellDef="let element"> {{element.numOfPlayedMatches}} </td>
  </ng-container>

  <tr  mat-header-row *matHeaderRowDef="clubsColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: clubsColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
</div>
<footer class="footer" >

  <div class="icon-title">Follow Us</div>
  <div class="wrapper">
    <div class="button">
      <div class="icon">
        <a class="them" href="https://www.facebook.com/premierleague/">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
      <span>Facebook</span>
    </div>
    <div class="button">
      <div class="icon">
        <a class="them" href="https://twitter.com/premierleague?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <span>Twitter</span>
    </div>


    <div  class="button">
      <div class="icon">
        <a class="them" href="https://www.instagram.com/premierleague/">
          <i  class="fab fa-instagram"></i>
        </a>
      </div>
      <span>Instagram</span>
    </div>


    <div class="button">
      <div class="icon">
        <a class="them" href="https://www.premierleague.com/communities">
          <i class="fab fa-google"></i>
        </a>
      </div>
      <span>Google</span>
    </div>


    <div class="button">
      <div class="icon">
        <a class="them" href="https://www.youtube.com/channel/UCG5qGWdu8nIRZqJ_GgDwQ-w">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <span>YouTube</span>
    </div>
  </div>

  <div class="footer-details">
    <div class="footer-copyright">
      Copyright © By Lahiru Lakshan<br>
      2020 by Premier League
    </div>
    <div class="vertical-line"></div>
    <div class="footer-icon">Premier <span class="logo"><img  class="logo" src="./assets/images/premier-league-icon.png"></span> League</div>
  </div>
</footer>
</body>
